<!-- <div class="container my-3">
  <div class="d-flex justify-content-end sort-section align-items-center my-2 mx-1">
    <p class="lead me-3 mb-0">Sort by:</p>
    <div class="btn-group btn-group-sm" role="group">
      <button type="button" class="btn btn-outline-secondary" (click)="sortByName()">Name</button>
      <button type="button" class="btn btn-outline-secondary" (click)="sortByPrice()">Price</button>
      <button type="button" class="btn btn-outline-secondary" (click)="sortByRating()">Rating</button>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col col-lg-4 col-md-6 col-sm-12" *ngFor="let item of foodList">
      <div class="card h-100">
        <img class="card-img-top" [src]="item.imageUrl" alt="{{item.name}} image">
        <div class="card-body">
          <h5 class="card-title text-center">{{ item.name }}</h5>
          <p class="card-text text-center description">{{ item.description }}</p>
          <p class="card-text text-center">{{ item.price | currency }}</p>
          <div class="d-flex justify-content-center align-items-center my-3">
          <span class="me-2">Rating:</span>
          <div class="rating">
            <i class="fa fa-star" [class.checked]="item.rating >= 1"></i>
            <i class="fa fa-star" [class.checked]="item.rating >= 2"></i>
            <i class="fa fa-star" [class.checked]="item.rating >= 3"></i>
            <i class="fa fa-star" [class.checked]="item.rating >= 4"></i>
            <i class="fa fa-star" [class.checked]="item.rating >= 5"></i>
            <i class="fa fa-star-o" [class.checked]="item.rating < 1"></i>
            <i class="fa fa-star-o" [class.checked]="item.rating < 2"></i>
            <i class="fa fa-star-o" [class.checked]="item.rating < 3"></i>
            <i class="fa fa-star-o" [class.checked]="item.rating < 4"></i>
            <i class="fa fa-star-o" [class.checked]="item.rating < 5"></i>
          </div>
        </div>
          <button class="btn btn-primary d-block mx-auto" (click)="addToCart(item)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

 -->

 <div class="container my-3">
  <div class="d-flex justify-content-end align-items-center my-2 mx-1">
    <div class="dropdown">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        Sort by
      </button>
      <ul class="dropdown-menu" aria-labelledby="sortDropdown">
        <li><a class="dropdown-item" (click)="sortByName()">Name</a></li>
        <li><a class="dropdown-item" (click)="sortByPrice()">Price</a></li>
        <li><a class="dropdown-item" (click)="sortByRating()">Rating</a></li>
      </ul>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col col-lg-4 col-md-6 col-sm-12" *ngFor="let item of foodList">
      <div class="card h-100">
        <img class="card-img-top" [src]="item.imageUrl" alt="{{item.name}} image">
        <div class="card-body">
          <h5 class="card-title text-center">{{ item.name }}</h5>
          <p class="card-text text-center description">{{ item.description }}</p>
          <p class="card-text text-center">{{ item.price | currency }}</p>
          <div class="d-flex justify-content-center align-items-center my-3">
          <span class="me-2">Rating:</span>
          <div class="rating">
            <i class="fa fa-star" [class.checked]="item.rating >= 1"></i>
            <i class="fa fa-star" [class.checked]="item.rating >= 2"></i>
            <i class="fa fa-star" [class.checked]="item.rating >= 3"></i>
            <i class="fa fa-star" [class.checked]="item.rating >= 4"></i>
            <i class="fa fa-star" [class.checked]="item.rating >= 5"></i>
            <i class="fa fa-star-o" [class.checked]="item.rating < 1"></i>
            <i class="fa fa-star-o" [class.checked]="item.rating < 2"></i>
            <i class="fa fa-star-o" [class.checked]="item.rating < 3"></i>
            <i class="fa fa-star-o" [class.checked]="item.rating < 4"></i>
            <i class="fa fa-star-o" [class.checked]="item.rating < 5"></i>
          </div>
        </div>
          <button class="btn btn-primary d-block mx-auto" (click)="addToCart(item)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
