@import "~bootstrap/dist/css/bootstrap.min.css";
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col-md-4 {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 20px;
}
.card-img-top {
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

