@import "~bootstrap/dist/css/bootstrap.min.css";
.cart-item td {
  vertical-align: middle;
}
.cart-item .input-group {
  width: 120px;
}
.cart-total {
  font-size: 1.2rem;
  font-weight: bold;
}
.cart-buttons button {
  margin-left: 10px;
}

  